@import 'global';
@import 'vars';
@import 'fonts';


//start header
.header__top{
	background-color: $grey;
}
.header__top-inner{
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}
.header__logo a{
	display: flex;
	font-size: 30px;
	@include f700;
	color: $blue;
	align-items: center;
	& span{
		color: #000;
		margin-left: 5px;
	}
}

.header__top-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__btn{
	max-width: 140px;
	width: 100%;
	background-color: $blue;
	padding: 4px 18px;
	font-size: 14px;
	line-height: 28px;
	border-radius: 35px;
	color: #fff;
	margin-right: 50px;
	text-align: center;
}
.header__logo a{
	margin-left: 7px;
}
.header__icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	& a+a{
		margin-left: 32px;
	}
}
.avatar__box{
	display: flex;
	align-items: center;
	margin-left: 50px;
	min-width: 180px;
	width: 100%;
}
.avatar__link img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar__info{
 	padding-left: 22px;
}

.avatar-name{
	@include f700;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}
.avatar__money{
	@include f500;
	font-size: 15px;
	color: $blue;
}



.header__menu-inner{
	height: 80px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.menu__list>li{
	display: inline-block;
	text-transform: uppercase;
	& a{
		color: #333333;
		@include f700;
	}
	&+li{
		margin-left: 32px;
	}
}

.search__inner-form {
	max-width: 360px;
	width: 100%;
	position: relative;
	& input{
		outline: none;
		padding: 0px 80px 0 23px;
		display: block;
		height: 46px;
		width: 100%;
		border: 1px solid #d9dfe5;
		border-radius: 23px;
		color: $text;
		&::placeholder{
			font-size: 15px;
			line-height: 40px;
			color: #898f96;
		}
	}
	& button{
		width: 70px;
		height: 46px;
		border-radius: 23px;
		outline: none;
    position: absolute;
    border: none;
    background-color: $blue;
    right: 0;
		top: 0;
		cursor: pointer;
	}
}
//end header

//start section search
.search{
	min-height: 725px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.search__inner{
	padding: 185px 0px 100px ;
	text-align: center;
	
	&-title{
		font-size: 60px;
		line-height: 70px;
		color: #f3f3f8;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		& span{
			@include f700;
		}
	}
	&-text{
		font-size: 20px;
		line-height: 72px;
		@include f500;
		color: #f3f3f8;
		margin-bottom: 40px;
		 
	}
}
.search__btn-inner{
	margin: 0 auto;
	max-width: 415px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.search__btn{
	align-items: center;
	width: 190px;
	height: 55px;
	border-radius: 27px;
	background-color: transparent;
	border: 1px solid #fff;
	& span{
		font-size: 16px;
		line-height: 56px;
		color: #fff;
	}
	&:hover{
		background-color: #fff;
		transition: all .3s;
		& span{
			color: $blue;
		}
	}
}

.search__form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	width: 100%;
	height: 135px;
	padding: 0 40px;
	background-color: #fff;
	position: relative;
	bottom: -167px;
 	& input{
	 border-radius: 3px;
	 outline: none;
	 width: 807px;
	 height: 55px;
	 padding: 20px 215px 15px 27px;
	 border: 1px solid #dcdcdc;
	 font-size: 16px;
	 color: #555555;
	 &::placeholder{
		 font-size: 16px;
		 line-height: 42px;
		 color: #676767;
	 }
 }
 & select{
	 position: absolute;
	 height: 55px;
	 bottom: 40px;
   right: 293px;
	 border-radius: 3px;
	 outline: none;
	 padding: 20px 20px 15px 20px	;
	 border: 1px solid #dcdcdc;
	 font-size: 16px;
	 color: #555555;
 }
 & button{
	 border-radius: 4px;
	 background-color: rgb(6, 116, 236);
	 width: 223px;
	 height: 55px;
	 font-size: 16px;
	 outline: none;
	 border: none;
	 color: #fff;
	 cursor: pointer;
 }
 &::after{
	position: absolute;
	content: "";
	top: -25px;
  left: 30px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	width: 1080px;
	height: 25px;
 }
 	&::before{
	content: "";
	position: absolute;
	top: -13px;
  left: 15px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	width: 1110px;
	height: 13px;
 }
}
//end section search
 
//start section reasons
.reasons__inner{
	padding: 185px 0 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reason__item{
	cursor: pointer;
	border-radius: 4px;
	padding: 35px;
	max-width: 360px;
	max-height: 403px;
	width: 100%;
	text-align: center;
	&-title{
		font-size: 24px;
		line-height: 72px;
		color: #333333;
	}
	&-text{
		font-size: 16px;
		line-height: 30px;
		color: $text;
	}
	&:hover{
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		transition: all .3s;
	}
}
//end section reasons

//start section featured
.featured,
.followers-feed{
	background-color: #eff1f5;
}
.featured__inner,
.followers-feed__inner{
	padding: 120px 0;
}
.featured__title,
.followers-feed__title{
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	padding: 33px 165px 33px 30px;
	background-color: #fff;
	color: #333333;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 50px;
}
 
.slick-arrow.slick-next.featured,
.slick-arrow.slick-prev.featured{
	position: absolute;
	cursor: pointer;
	outline: none;
	width: 55px;
	height: 45px;
	border: none;
	background-color: rgb(115, 71, 193);
	& img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.slick-arrow.slick-next.featured{
	top: -126px;
	right: 30px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.slick-arrow.slick-prev.featured{
  bottom: 531px;
  right: 85px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.featured__slider-item{
	display: flex !important;
	max-height: 450px;
	border-radius: 4px;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);

	.product__image-box{
		position: relative;
	}
	.product__image-box .works__inner-link{
		border-radius: 4px;
		background-image: url(../images/content/slider-hover-bg.svg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		height: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		transition: all .5s;
		& a{
			padding: 8px 30px;
			margin: 0px 5px;
			color: #fff;
			font-size: 15px;
			line-height: 30px;
			border: 1px solid #fff;
			border-radius: 40px;
			&:hover{
				background-color: #fff;
				color: #0674ec;
				transition: all .3s;
			}
		}
	}
	.product__image-box:hover .works__inner-link{
			height: 100%;
			transition: all .5s;
	}
}

.about-item{
		padding: 43px 62px 0 50px;
		background-color: #fff;
		&__title{
			font-size: 24px;
			@include f700;
			line-height: 36px;
			color: #333333;
			margin-bottom: 10px;
		}
		&__link{
			position: relative;
			padding-right: 20px;
			margin-bottom: 20px;
		}
		&__link.user{
		 padding-left: 40px;
		 & img{
			 position: absolute;
			 bottom: 0;
			 left: 0;
			 border-radius: 50%;
		 }
		 & span{
			 font-size: 15px;
			 line-height: 30px;
			 color: #333333;
			 &:hover{
				color: #7347c1;
				transition: all .3s;
			 }
		 }

		}
		&__link.cattegory{
		 padding-left: 26px;
		 & img{
			position: absolute;
    	bottom: 8px;
    	left: 0px;
		 }
		 & span{
			 font-size: 15px;
			 line-height: 30px;
			 color: #333333;
			 &:hover{
				color: #7347c1;
				transition: all .3s;
			 }
		 }
		}
		&__text{
			font-size: 16px;
			line-height: 30px;
			color: $text;
			margin-bottom: 30px;
		}
		&__tags a{
			line-height: 30px;
			color: #868c96;
			padding: 0 17px;
			background-color: #f1f3f6;
			border-radius: 20px;
			margin-bottom: 44px;
			& + a{
				margin-left: 7px;
			}
		}
		&__info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 24px 0;;
			border-top: 1px solid #ececec;
			& .info__prise{
				background-color: #0674ec;
				padding: 1px 18px;
				border-radius: 27px;
				font-size: 15px;
				line-height: 30px;
				color: #fff;
				margin-right: 10px;
			}
			& .info__likes,
			& .info__basket {
				display: inline-block;
				position: relative;
				& span{
				margin: 0 23px;
				}
				& img{
				position: absolute;
				bottom: 6px;
				}
			}
			& .featured__rate-star{
				display: inline-block;
			}
		}
	}

 
 
//end section featured

//start section products
.products{
	padding: 120px 0;
	background-color: #f6f7fb;
}
.products__title{
	margin-bottom: 30px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	background-color: #fff;
	padding: 33px 30px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	&-text{
		color: #000;
		font-size: 30px;
		line-height: 45px;
	}
	& span{
		margin-left:auto;
		font-size: 16px;
		line-height: 32px;
		color: #747b86;
	}
	& .filter__choose{
		display: block;
		padding-left:25px;
		& ul li{
		border-radius: 50%;
		width: 3px;
		height: 3px;
		background-color: #a3b1c4;
			&+li{
				margin: 4px 0px;
			}
		}
	}
}

.products__inner-btn{
	min-width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	border-radius: 4px;
	padding: 30px;
	background-color: #fff;
	margin-bottom: 50px;
	& button{
		padding: 0 20px;
		border-radius: 16px;
		cursor: pointer;
		color: #747b86;
		font-size: 15px;
		line-height: 30px;
		background-color: #f1f3f6;
		border: none;
		outline: none;
		&.mixitup-control-active{
			background-color: #0674ec;
			color: #fff;
			transition: all .3s;
		}
		&+ button{
			margin-left: 10px;
		}
	} 
}
.products__inner-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product__item,
.followers-feed__item{
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	max-width: 361px;
	margin-bottom: 30px;
	&-img{
		display: block;
		min-height: 230px;
	}
}
.product__item-img-box,
.followers-feed__item-img-box{
	position: relative;
}
.product__inner-link,
.followers-feed__inner-link{
	border-radius: 4px;
	background-image: url(../images/content/slider-hover-bg.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	transition: all .5s;
	& a{
		max-height: 45px;
		padding: 8px 30px;
		margin: 0px 5px;
		color: #fff;
		font-size: 15px;
		line-height: 30px;
		border: 1px solid #fff;
		border-radius: 40px;
		&:hover{
			background-color: #fff;
			color: #0674ec;
			transition: all .3s;
		}
	}
}
.product__item-img-box:hover .product__inner-link,
.followers-feed__item-img-box:hover .followers-feed__inner-link{
		height: 100%;
		transition: all .5s;
}
 
.product__item__about,
.followers-feed__item__about{
	padding: 25px 40px 20px 25px;
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	&-title{
		font-size: 20px;
		line-height: 30px;
		@include f700;
		color: #333333;
		margin-bottom: 10px;
	}
	&-link{
		position: relative;
		margin-bottom: 20px;
		&.user img{
			position: absolute;
			bottom: 0;
		}
		&.user span{
			padding-left: 35px;
			font-size: 15px;
			line-height: 30px;
			color: #333333;
		}
		&.cattegory{
			margin-left: 20px;
			& img{
				position: absolute;
				bottom: 7px;
			}
			& span{
				padding-left: 25px;
				font-size: 15px;
				line-height: 30px;
				color: #7347c1;
			}
		}
	}
	&-text{
		font-size: 16px;
		line-height: 30px;
		color: #555555;
		margin-bottom: 17px;
	}
}
.product__item__info,
.followers-feed__item__info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: #fff;
	&-prise{
		border-radius: 19px;
		background-color: #e6f1fd;
		font-size: 15px;
		line-height: 30px;
		color: #0674ec;
		padding: 0 17px;
		margin-right: 13px;
	}
	&-likes{
		margin-right: 15px;
		& img{
			display: inline-block !important;
			margin-right: 5px;
		}
	}
	&-cart{
		& img{
			display: inline-block !important;
			margin-right: 10px;
		}
		& span{
		color: #0674ec;
	}
	}
}
.product__rate-star,
.followers-feed__item__rate-star{
	margin-right: auto;
}
.products__bottom-btn{
	text-align: center;
}
.all-products{
	margin-top: 30px;
	min-width: 55px;
	background-color: #0674ec;
	cursor: pointer;
	border-radius: 43px;;
	padding: 13px 33px;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	border: none;
	outline: none;
}
//end section products







//start section followers-feed
.slick-arrow.slick-next.followers-feed,
.slick-arrow.slick-prev.followers-feed{
	position: absolute;
	cursor: pointer;
	outline: none;
	width: 55px;
	height: 45px;
	border: none;
	background-color: #0674ec;
	& img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.slick-arrow.slick-next.followers-feed{
	top: -126px;
	right: 30px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.slick-arrow.slick-prev.followers-feed{
  bottom: 644px;
  right: 85px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.followers-feed .slick-track .slick-slide{
	max-width: 361px;
}
.followers-feed .slick-track{
	  display: flex;
		justify-content: space-between;	
}
 
//end section followers-feed
 








//start fan-facts

.fan-facts{
	background-color: #212225;
}
.fan-facts__inner{
	min-height: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fan-facts__item{
	display: inline-block;
	height: 100%;
}
// .fan-facts__text-box{
// 	position: relative;
// 	.number{
// 		display: block;
// 		font-size: 36px;
// 		margin-bottom: 10px;
// 		text-align: center;
// 	}
// 	.text{
// 		display: block;
// 		font-size: 18px;
// 		line-height: 36px;
// 		color:#fff;	
// 		text-align: center;
// 	}
// }
 
// .fan-facts__text-box.case{
// 	.number{
// 		color: #feb71d;
// 	}
// }
// .fan-facts__text-box.cloud{
// 	.number{
// 		color: #58c9e9;
// 	}
// }
// .fan-facts__text-box.smile{
// 	.number{
// 		color: #77de51;
// 	}
// }
// .fan-facts__text-box.members{
// 	.number{
// 		color: #ff6a6d;
// 	}
// }

//end section fan-facts





//start section why-choose
 .why-choose__title{
	 max-width: 675px;
	 margin: 0 auto;
	 text-align: center;
	 font-size: 36px;
	 line-height: 54px;
	 color: #333333;
	 margin-top: 110px;
	 span{
		 color: #0674ec;
	 }
 }
 .why-choose__text{
	 margin-top: 30px;
	 margin: 15px auto 65px;
	 max-width: 675px;
	 color: #555555;
	 font-size: 16px;
	 line-height: 30px;
	 text-align: center;
 }

 .why-choose__inner{
	 display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
	 margin-bottom: 90px;
 }
 .why-choose__item{
	 border-radius: 4px;
	 box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	 max-width: 361px;
	 min-height: 373px;
	 padding: 20px;
	 margin-bottom: 30px;
	 &-number{
		 @include f300;
		 font-size: 48px;
		 line-height: 72px;
		 color: #dee7fe;
	 }
	 &-img{
		 width: 60px;
		 height: 50px;
		 margin-bottom: 50px;
	 }
	 &-title{
		 font-size: 24px;
		 line-height: 36px;
		 color: #333333;
		 text-align: center;
		 margin-bottom: 15px;
	 }
	 &-text{
		margin: 0 auto 50px;
		max-width: 295px;
		text-align: center;
		font-size: 16px;
		line-height: 30px;
		color: #555555;
	 }
 }

 //end section why-choose








